.content {
    max-width: 900px;
    margin: auto;
    padding: 2rem 0;
    gap: 2rem;
}

@media screen and (max-width: 920px) {
    .content {
        padding: 2rem 1rem;
        gap: 1rem;
    }
}

.rolldices {
    gap: 2rem;
}

@media screen and (max-width: 920px) {
    .rolldices {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

#results {
    max-height: 272px;
    overflow-y: auto;
    gap: 0.4rem;
}

@media screen and (max-width: 516px) {
    #results {
        max-height: 140px;
    }
}

#results * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    min-height: 1px;
}

.result span {
    font-weight: 700;
}
